    body,
    html {
        margin: 0;
        padding: 0;
        font-family: Open Sans, Segoe UI, Helvetica Neue, Helvetica, Raleway, Arial, sans-serif;
    }
    
    .nav-bar {
        background-color: #333;
        border-bottom: 1px solid #d6d7d9;
        box-shadow: none;
        color: #ffffff;
        height: 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-details {
        display: flex;
        flex-direction: row;
    }
    
    .nav-details>div {
        padding: 10px;
    }
    
    .nav-logo {
        font-weight: 600;
        font-size: 18px;
    }
    
    .header {
        height: 25vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #d6d7d9;
        font-weight: 800;
        font-size: 22px;
    }